@using PostMultiObjects.Controllers

@{
    ViewBag.Title = "UpdateInts";
}

<h2>UpdateInts</h2>

@using (Html.BeginForm(actionName: nameof(PostMultiController.UpdateIntsPost), controllerName: "PostMulti", method: FormMethod.Post))
{
    <input type="text" name="ints" value="1" />
    <input type="text" name="ints" value="4" />
    <input type="text" name="ints" value="2" />
    <input type="text" name="ints" value="8" />
    <input type="submit" />
}
